@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'poppins', sans-serif, Times;
}

.section-header {
    background-color: #F7FAFD;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 25px;
}

.navbar {
    align-items: center;
    padding: 25px;
    display: flex;
}

.logo {
    width: 15px;
}

nav {
    flex: 1;
    padding: 20px;
    text-align: right;
}

nav ul {
    list-style-type: none;
    display: inline-block;

}

nav ul li {
    margin-right: 20px;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: rgb(red, green, blue);
}

.rows {
    align-items: center;
    display: flex;
    justify-content: space-around;

}

.col-6 {
    min-width: 300px;
    flex-basis: 50%;
}

.col-6 img {
    width: 750px;
    padding: 30PX 0;
}

.col-6 h1 {
    font-size: 50px;
    margin: 30px 0;
}

.col-6 button {
    display: inline-block;
    text-decoration: none;
    padding: 20px 10px;
    background-color: dodgerblue;
    color: black;
    border-radius: 30px;
    margin-top: 30px;
    transition: background-color 5s, color 3s;
}

.col-6 button:hover {
    background-color: aqua;
    color: rgb(209, 194, 194);
}

/* style categories */

.categories h2 {
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 30px 0;
}

.col-4 {
    min-width: 250px;
    flex-basis: 30%;
    margin: auto;
}

.col-4 img {
    width: 100%;
    margin: 30px 0px;
}

/* Style products */

.futur-products h2 {
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 30px 0;
}

.col-3 {
    min-width: 200px;
    flex-basis: 25%;
    /* margin: auto; */
    padding: 15px;
    transition: transform 2s;
}

.col-3:hover {
    background: rgb(202, 198, 198);
    transform: translateY(-10px);
}


.col-3 img {
    width: 100%;
    /* margin: 25px 40px; */
}

.latest-products h2 {
    text-align: center;
    font-size: 30px;
    color: black;
    margin: 30px 0;
}

.footer {
    text-align: center;
    background-color: rgb(223, 247, 247);
    /* color: white; */
}

.footer p {
    color: black;
}

.icon {
    font-size: 25px;
    color: rgb(77, 182, 184);
}

.icon :hover {
    color: rgb(196, 244, 162);
}